

<app-header></app-header>
<body>
<div class="container">
  <div class="row mb-2 mt-2 text-center ">
     <div class="col-md-4">
     </div>
     <div class="col-md-4">
       <h5>User Profil</h5>
       <small *ngIf="titleAction$ | async as title">{{ title }}</small>
     </div>
     <div class="col-md-4"></div>
    </div>
</div>
 <!--navbar-->

      <nav class="navbar navbar-expand-md breadcrumb ">
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="nav nav-pills">
            <a class="nav-item nav-link .move-left mr-5" (click)="changeTitle('profile')" data-toggle="tab" href="#profile">
              <i class="fa fa-user"></i>
              Welcome{{user.firstName}}
            </a>
          </div>
        </div>
      </nav>




<!--User profile -->
<div class=" tab-pane fade " id="profile">
  <div class="container">
    <div class="row flex-lg-nowrap">
      <div class="col">
        <div class="row">
          <div class="col mb-3">
           <div class="card">
            <div class="card-body">
              <div class="e-profile">
                <div class="row">
                  <div class="col-12 col-sm-auto">
                    <div class="mx-auto" style="width:120px;">
                      <div class="d-flex justifiy-content-center align-items-center rounded">
                      <img class="rounded" height="135" width="135" src="{{user.profileImageUrl}}" alt="">
                    </div>
                    <div class="progress mt-1">
                      <div class="progress-bar bg-info" role="progressbar"
                       aria-valuenow="0" aria-voluemin="0"
                       aria-valuemax="100">50%</div>
                     </div>
                   </div>
                  </div>
                 <div class="col d-flex flex-column flex-sm-row justifiy-content-btween mb-3">
                   <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{user.firstName}} {{user.lastName}}</h4>
                    <p class="mb-0">{{user.username}}</p>
                    <div *ngIf="user?.lastLoginDateDisplay !== null" class="text-muted">
                      <small>last login:{{user.lastLoginDateDisplay | date:'medium'}}</small></div>
                      <div class="mt-2">
                        <button  class="btn btn-primary" type="button">
                          <i class="fa fa-fw fa-camera"></i>
                          <span>change Photo</span>
                        </button>
                      </div>
                   </div>
                   <div class="text-center text-sm-right">
                    <div class="text-muted"><small>Joined {{user.joinDate | date:'mediumDate'}}</small></div>
                   </div>
                 </div>
                </div>
                <div class="tab-content pt-3">
                  <div class="tab-pane active">
                    <form #profileUserForm="ngForm" (ngSubmit)="onUpdateCurrentUser(profileUserForm.value)" class="form"
                    novalidate>
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>First Name</label>
                              <input type="text" name="firstName" required [(ngModel)]="user.firstName"
                              class="form-control">
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label>LastName</label>
                              <input type="text" name="lastName" required [(ngModel)]="user.lastName"
                              class="form-control">
                            </div>
                          </div>
                        </div>
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label>Username</label>
                            <input type="text" name="username" required [(ngModel)]="user.username"
                            class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label>Email</label>
                            <input type="text" name="email" required [(ngModel)]="user.email"
                            class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col mb-3">
                          <div class="form-group">
                            <label>Role</label>
                            <select  name="role" [disabled]="!isAdmin" required [(ngModel)]="user.role" class="form-control">
                              <option value="ROLE_USER">USER</option>
                              <option value="ROLE_USER">HR</option>
                              <option value="ROLE_USER">MANAGER</option>
                              <option value="ROLE_USER">SECRETARIA</option>
                              <option value="ROLE_USER">SUPER_ADMIN</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                     <div class="row">
                      <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                        <div class="mb-2"><b>Account Settings</b></div>
                        <div class="row">
                          <div class="col">
                            <div class="custom-controls-stacked px-2">
                              <div class="custom-control custom-checkbox">
                                <input name="active" type="checkbox" [(ngModel)]="user.active" class="custom-control-input">
                                <label class="custom-control-label">Active</label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input name="notLocked" type="checkbox" class="custom-control-input"
                                [(ngModel)]="user.notLocked">
                                <label class="custom-control-label">Unlocked</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                     </div>
                     <div class="row">
                      <div class="col d-flex justify-content-end">
                        <button class="btn btn-primary" type="submit">
                          <i *ngIf="refreshing" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
                          <span *ngIf="refreshing">Loading...</span>
                          <span *ngIf="!refreshing">Save changes</span>
                        </button>
                      </div>
                     </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
           </div>
          </div>
          <div class="col-12 col-md-3 mb-3">
            <div class="card mb-3">
              <div class="card-body">
                <div class="px-xl-3">

                    <i class="fas fa-sign-in-alt ml-1"></i>

                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h6 class="card-title font-weight-bold">Permissions From Role</h6>
                <h6 *ngFor="let authority of user.authorities" class="card-text">{{authority}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></body>

<app-side-nav></app-side-nav>
