<nav>
  <ul>
      <li>
          <a class="logo">
              <img class="rounded"  src="assets/image/logo.png" alt="">
              <span class="nav-item">ISS4U </span>
          </a>
      </li>
      <li>
          <a routerLink="/main" class="nav-link">
             <i class="fas fa-chart-bar"></i>
              <span class="nav-item">Dashbord</span>
          </a>
      </li>
      <li>
          <a [hidden]="!isAdmin" routerLink="/patient" class="nav-link">
              <i class="fas fa-user-friends"></i>
              <span class="nav-item">Patient management</span>
          </a>
      </li>
      <li>
          <a routerLink="/user/management" class="nav-link active" >
            <i class="fas fa-users"></i>
            <span class="nav-item">User management</span>
          </a>
      </li>
      <li>
          <a routerLink="/profil" class="nav-link " >
            <i class="fas fa-user"></i>
            <span class="nav-item">User Profil</span>
          </a>
      </li>
      <li>
          <a routerLink="/calendar" class="nav-link ">
            <i class="fas fa-calendar"></i>
            <span class="nav-item">Calendar</span>
          </a>
      </li>
      <li>
          <a [hidden]="!isAdmin"routerLink="/settings"  class="nav-link ">
            <i class="fas fa-cog"></i>
            <span class="nav-item">Settings</span>
          </a>
      </li>


        <li>
          <a class="nav-link " (click)="onLogOut()">
            <i class="fas fa-sign-out-alt" ></i>
              <span class="nav-item">Log Out</span>
          </a>
       </li>
  </ul>
</nav>
